$couleur__background-body: rgb(218, 232, 130);
/* ----------------------------------- Couleur d'arrière plan titres */
$couleur__background--h1: rgba(233, 237, 248, 0.971);
$couleur__background--h2h3h4: rgb(215, 215, 231);
$couleur__background--h5h6: rgb(154, 153, 172);
$couleur__background--code: rgb(213, 208, 230);

/* --------------------------------------- couleur   color :  */
$couleur__h1: rgba(25, 41, 88, 0.971);
$couleur__h2h3h4: rgb(16, 12, 114);
$couleur__h5h6: rgb(16, 12, 114);
$couleur__code: rgb(14, 13, 17);

/* --------------------- Couleurs des liens */
$couleur__link: #55f;
$couleur__link--visited: rgb(255, 51, 143);
$couleur__link--hover: #8f8;


/*------------------------------------------------Couleur des boutons */
$color__border--button: #999;
$color__background--button: #bbb;
$color__border--button-hover: #aaa;
$color__border--button-focus: #888;

/*------------------------------------------------Couleur des champs de texte (input fields) */
$color__text-input: #444;
$color__border--input:#777;;
$color__text--input-focus: #333;

/*------------------------------------------------Couleur des ligns horizontales (hr) */

$color__background-hr: rgb(58, 22, 129);

/*------------------------------------------------Simple */

$color__background--pre: rgb(87, 69, 124);


