$police__main : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$police__titre-principal : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$police__titre-secondaire : Verdana, Geneva, Tahoma, sans-serif;

$police__main: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$police__titre-principal: Impact, Haettenschweiler, "Arial Narrow Bold",
  sans-serif;
$police__titre-secondaire: Verdana, Geneva, Tahoma, sans-serif;

/* pre*/

$font__pre:;
$font__line-hight--pre: .8rem;