$police__main : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$police__titre-principal : 'Times New Roman', Times, serif;
$police__titre-secondaire : Verdana, Geneva, Tahoma, sans-serif;


/* pre*/

$font__pre: 'Courier New', Courier, monospace;
$font__line-hight--pre: .8rem;
