.site__title {
    font-size: clamp(2rem, 4vw, 4rem);
    text-align: center;
    a {
        color: $couleur__site__title;
    }
}

.site__description {
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 5rem);
    color: #2118ca;
}
