.site__menu {
  position: relative;
}
.chk-burger {
  display: none;
}

.chk-burger:checked ~ .burger {
  transform: rotate(90deg);
}

.chk-burger:checked ~ .menu__aside {
  transform: translateX(0);
}
.burger {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 10px;
  left: 10px;
  transform: rotate(0deg);
  transition: transform 0.5s;
  font-size: 2rem;
  color: #fff;
}

.menu__aside {
    display: flex;
    margin: 20px;
    position: absolute;
    // width: 100vw;
    top: 70px;
    transform: translateX(-100vw);
    transition: transform 0.5s;
    background-color: #000;

    @media screen and (max-width: 700px) {
      position: static;
      transform: translateX(0);
      /* important de revenir à width 100%  pour remplacer le 100vw*/
      width: 100%;
    }
  
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        margin: 10px;
        padding: 5px;
        background-color: $couleur__background__link__aside;
    }

    a {
  color: $couleur__link__aside;

  &:visited {
    color: $couleur__link__aside--visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $couleur__link--hover;
    background-color: $couleur__link__aside--hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

}