.menu__evenement {

}

.menu__evenement .menu { //ul
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 25%;
    border: 1px solid #bbb;
}

.menu__evenement .menu-item  { //li
    width: 25%
}

.evenement__porte {
    background-color: aqua;
}
.evenement__stage {
    background-color: rgb(55, 0, 255);
}
.evenement__projet {
    background-color: aqua;
}