.menu-primaire-container {  //nav
    background-color: #000;
    

    .menu {  //ul 
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .menu-item { //li 
    }

    a {            
        padding: 10px;
        text-decoration: none;
        background-color: #000;
        color: #fff;
    }

}

.menu-primaire-container {}
.menu-primaire-container .menu {}
.menu-primaire-container .menu-item {}
.menu-primaire-container a {}



