.menu-primaire-container {  //nav
    background-color: rgb(41, 36, 193);
    
    
    
    
    .menu {  //ul 
        padding:30px 0;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
    
    .menu-item { //li 
        border-inline: 1px rgb(150, 182, 44);
    }
    
    a {            
        padding: 10px;
        text-decoration: none;
        background-color: rgb(8, 33, 113);
        color: #fff;
    }
    
}

// .menu-primaire-container {}
// .menu-primaire-container .menu {}
// .menu-primaire-container .menu-item {}
// .menu-primaire-container a {}

.menu-primaire-container a:hover {
        color: rgb(8, 33, 113);
        background-color: #fff;
        outline: 3px solid rgb(8, 33, 113);
        border-radius: 5px;
}

