body {
    background-color : $couleur__background-body;
    padding: 20px;
} 

main{
    font-family: $police__main;
    background-color: $couleur__background-body;
}

.trace {
    margin:0;
    padding: 30px;
    color: rgb(14, 69, 172);
    background-color: rgb(245, 221, 190);
    text-align: center;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-family: 'Times New Roman', Times, serif;
}

a {
   text-decoration: none;
}