body {
    background-color : $couleur__background-body;
    padding: 20px;
} 

main{
    font-family: $police__main;
    background-color: $couleur__background-body;
}

.trace {
    margin:0;
    padding: 30px;
    background-color: rgb(2, 29, 88);
    color: rgb(221, 154, 66);
    text-align: center;
    font-size: 4rem;
    letter-spacing: .1rem;
    font-family: 'Times New Roman', Times, serif;
}

a {
   text-decoration: none;
}