small {
    background-color: $couleur__background--code;
    margin-left: 10px;
    
}

pre {
    font-family: 'Courier New', Courier, monospace;
}

code {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

