small {
    background-color: $couleur__background--code;
    margin-left: 10px;
    
}

pre {
    font-family: ;
}

code {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

abbr, acronym

