.site {
	display: grid;
	grid-template-columns: auto ($size__site-sidebar);
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}

.site__header {
	grid-area: header;
}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget__area-1 {
	grid-area: sidebar;
}

.widget__area-2 {
	grid-area: sidebar;
}

.site__footer {
	grid-area: footer;
}

@import "no-sidebar";
